<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Delivery System</h2>
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a mat-raised-button color="warn" routerLink="">Routes</a>
        <a mat-raised-button color="warn" routerLink="/packages">Packages</a>
        <a mat-raised-button color="warn" routerLink="/pilots">Pilots</a>
        <a mat-raised-button color="warn" routerLink="/trucks">Trucks</a>
      </div>
    </div>
  </nav>

  <ng-container>
    <router-outlet></router-outlet>
  </ng-container>
</div>
